body {
    font-family: 'Open Sans Condensed';
    padding: 20px 60px;
}

a {
    text-decoration: none;
    color: black;
}

/* box-sizing has a default in all browsers 
*  below can resolve extra padding with inputs
*/
* {
    box-sizing: border-box;
}